@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Noto Sans Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/NotoSansDisplay-VariableFont_wdth,wght.ttf) format('woff2');
  }

  html {
    font-family: "Noto Sans Display", system-ui, sans-serif;
  }
}
